<ion-header>
  <ion-toolbar color="primary">
    <ion-img src=" ../../../../../assets/icon/pngegg.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      <h2>Menu</h2>
    </ion-card-title>
    <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="white">
          <div class="asistencia">
            <ion-img src=" ../../../../../assets/icon/asistencia-4.png" [routerLink]="['/profesor']" ></ion-img>
          </div>
        </ion-button>
        <ion-label style="color: black; margin-left:20px">Registrar Asistencia</ion-label>
      </ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>
  </ion-card>
  
</ion-content>
