<ion-content class="login-content">
  <ion-img src="../../assets/icon/pngegg.png" id="logo"></ion-img>
  <ion-grid [fixed]="true" class="login-card">
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXl="1140px" sizeLg="960px" sizeMd ="720px" sizeSm="540px" sizeXs="100%">
        <ion-card>
          <ion-img src="../../assets/icon/User.png"></ion-img>
          <ion-card-content>
              <ion-item>
                <ion-input placeholder="Usuario" type="text" [(ngModel)]="user.usuario"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input placeholder="Contraseña" type="Password" [(ngModel)]="user.password"></ion-input>
              </ion-item>
              <div class="ion-margin-vertical ion-text-right">
                <ion-button id="btn-login" (click)="gotohome()" >{{desLogin}}</ion-button>
              </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

